.about-mission {
    padding-top: 81px;
    padding-bottom: 180px;
    background-color: var(--color-athens);

    @include minidesk {
        padding-bottom: 100px;
    }

    &__title {
        margin-bottom: 24px;
    }

    &__body {
        --about-mission-gap: 94px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: calc(var(--about-mission-gap) * 2);
        margin-top: 60px;

        @include tablet {
            --about-mission-gap: 30px;
        }

        @include minidesk {
            --about-mission-gap: 10px;
        }

        @include mobile {
            display: block;
        }
    }

    &__item {
        text-align: center;
        position: relative;

        @include mobile {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }

        &:not(:last-child) {
            &::after {
                content: "";
                position: absolute;
                right: calc(-1 * var(--about-mission-gap));
                top: 0;
                width: 1px;
                height: 100%;
                background-image: url("../img/svg/Divider.svg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                @include tablet {
                    display: none;
                }
            }
        }
    }

    &__icon {
        svg {
            width: 48px;
            height: 48px;
            fill: var(--color-primary);
        }
    }

    &__caption {
        font-weight: 700;
        font-size: 20px;
        color: var(--color-ebony);
        margin-top: 26px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-storm);
        margin-top: 15px;
    }

    &__form {
        box-shadow: var(--box-shadow);
        border-radius: 4px;
        padding: 48px 60px;
        position: relative;
        top: 92px;
        background-color: var(--color-white);

        &-title {
            text-align: center;
        }

        &-content {
            display: flex;
            align-items: flex-end;
            margin-top: 32px;
        }

        &-field {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right: 24px;
        }

        &-caption {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            margin-bottom: 7px;
        }

        &-input {
            border-radius: 4px;
            background: #F4F5F7;
            border: 1px solid #D7DADD;
            padding: 0 16px;
            width: 260px;
            height: 44px;

            &--long {
                width: 414px;
            }
        }

        &-btn {
            line-height: 44px;
            padding: 0 30px;
        }
    }
}