.categories {
    padding: 121px 0 179px 0;

    @include tablet {
        padding: 70px 0;
    }

    &__body {
        @include grid;
        row-gap: 60px;
        column-gap: 30px;
        margin-top: 59px;

        @include mobile {
            gap: 30px 0;
        }
    }

    &__item {
        grid-column: 6 span;

        @include tablet {
            grid-column: 12 span;
        }
    }

    &__pag {
        @include flex-all-center;
        margin-top: 58px;
        &-item {
            &:not(:last-child) {
                margin-right: 21px;
            }

            &:last-child {
                margin-left: 0px;
            }
        }

        &-link {
            font-weight: 700;
            font-size: 16px;
            line-height: 180%;
            color: var(--color-gray);

            &--active {
                color: var(--color-primary);
            }


            svg {
                width: 22px;
                height: 13px;
                fill: var(--color-gray);
                object-fit: cover;
                display: block;
            }
        }
    }
}

.categories-nav {
    @include flex-v-center;
    flex-wrap: wrap;
    margin-top: 39px;

    &__item {
        width: calc(100% / 6);
        text-align: center;

        @include tablet {
            width: calc(100% / 3);
        }

        @include mobile {
            width: 100%;
        }
    }

    &__btn {
        color: #9A9CA5;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        @include flex-all-center;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        border: 1px solid transparent;

        &--active {
            border-color: currentColor;
            color: var(--color-primary);
        }
    }
}