.clients {
    padding-top: 181px;
    background-color: var(--color-white);
    padding-bottom: 120px;

    @include minitablet {
        padding-top: 50px;
    }

    &__title {
        margin-bottom: 59px;
    }

    &__body {
        display: grid;
        column-gap: 102px;
        grid-template-columns: repeat(6, 1fr);
        row-gap: 40px;

        @include minidesk {
            column-gap: 20px;
        }
    }

    &__item {
        img {
            max-width: 100%;
        }
        @include tablet {
            display: flex;
            justify-content: center;
            grid-column: 3 span;
        }

       

        &:focus {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }
    }
}