.decisions {
    padding-bottom: 18px;
    background-color: var(--color-athens);

    &__body {
        @include grid;
        
        @include tablet {
            display: block;
        }
    }

    &__img {
        grid-column: 5 span;
        position: relative;
        top: 78px;

        img {
            max-width: 100%;
        }

        @include tablet {
            display: none;
        }
    }

    &__content {
        grid-column: 7 span;
        padding-left: 105px;
        padding-top: 79px;

        @include tablet {
            padding: 70px 40px;
        }

        @include mobile {
            padding: 45px 10px; 
        }
    }

    &__title {
        margin-bottom: 61px;

        @include mobile {
            margin-bottom: 30px;
        }
    }

    &__item {
        padding-left: 36px;
        background: url("../img/svg/Checked.svg") 0 3px no-repeat;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-gray);

        &:not(:last-child) {
            margin-bottom: 20px;
        }       
    }
}

