.employee-benefits {
    background-color: var(--color-white);
    padding-bottom: 179px;

    &__title {
        color: var(--color-ebony);
        margin-bottom: 23px;
    }

    &__body {
        --benefits-gap: 94px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: calc(var(--benefits-gap) * 2);
        margin-top: 61px;

        @include tablet {
            --benefits-gap: 30px;
        }

        @include minitablet {
            --benefits-gap: 10px;
        }

        @include mobile {
            display: block;
        }
    }

    &__item {
        text-align: center;
        position: relative;

        @include mobile {
            padding: 0 30px;
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
        
        &:not(:last-child) {
            &::after {
                content: "";
                position: absolute;
                right: calc(-1 * var(--benefits-gap));
                top: 0;
                width: 1px;
                height: 100%;
                background-image: url("../img/svg/Divider-2.svg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                @include mobile {
                    display: none;
                }
            }
        }
    }

    &__icon {
        svg {
            width: 48px;
            height: 48px;
            fill: var(--color-primary);
        }
    }

    &__caption {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-ebony);
        margin-top: 22px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-storm);
        margin-top: 9px;
    }

    &__btn {
        padding: 0 112px;
        line-height: 52px;
        position: relative;
        top: 100px;
    }
}
