.facts {
    position: relative;
    overflow: hidden;
    padding: 180px 0 184px 0;

    @include tablet {
        padding: 70px 0 120px 0;
    }

    &::before {
        content: "";
        position: absolute;
        left: -9px;
        top: -195px;
        width: 570px;
        height: 1065px;
        background: url("../img/facts/bg-image.png") center / cover no-repeat;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 48px;
        max-width: 736px;
        margin: 0 auto;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
            display: block;
        }
    }

    &__item {
        @include mobile {
            &:not(:last-child) {
                margin-bottom: 60px;
            }
        }
        
        &-circle {
            --progress-stroke: #000;
            --progress-bg-opacity: 0.3;
            margin: 0 auto;

            position: relative;
            margin-bottom: 20px;
            width: 148px;
            height: 148px;

            svg {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }

            .progress {
                stroke: var(--progress-stroke);
                transform: rotate(-90deg) translateX(20px);
                transform-origin: center;
            }
          
            .progress-bg {
                stroke: var(--progress-stroke);
                opacity: var(--progress-bg-opacity);
            }

            &--color-one {
                --progress-stroke: #f89828;
              }
          
              &--color-two {
                --progress-stroke: #f52f6e;
              }
          
              &--color-three {
                --progress-stroke: #5a87fc;
              }
          
              &--color-four {
                --progress-stroke: #03cea4;
              }
        }

        &-value {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 700;
            font-size: 32px;
            color: var(--color-ebony);
        }

        &-text {
            color: var(--color-ebony);
            text-align: center;
            display: block;
            margin-top: 23px;
        }
    }
}

