.footer {
    background-color: var(--color-ebony);
    padding: 81px 0 80px;

    @include minitablet {
        padding: 50px 0;
    }

    &__body {
        @include grid;
    }

    &__logo {
        &:focus {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }
    }

    &__social {
        margin-left: 62px;
        @include flex-v-center;

        @include mobile {
            margin-left: 0;
            margin-top: 30px;
        } 

        li {
            &:not(:last-child) {
                margin-right: 18px;
            }
        }

        &-link {
            svg {
                width: 20px;
                height: 20px;
                transition: all 0.3s ease-in-out;
                fill: rgba(#fff, 0.6);
            }

            &:last-child {
                svg {
                    width: 22px;
                    height: 22px;
                }
            }

            &:focus {
                outline: 2px solid var(--color-primary);
                outline-offset: 2px;
            }

            &:hover {
                svg {
                    fill: var(--color-white);
                }
            }
        }
    }

    &__desc {
        max-width: 495px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: rgba(#fff, 0.6);

        @include mobile {
            font-size: 11px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: var(--color-white);
        font-style: normal;
        letter-spacing: 1px;
    }

    &__copyright {
        grid-column: 12 span;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: var(--color-white);
        margin-top: 19px;

        span {
            background: url("../img/svg/Heart.svg") left 2px center  no-repeat;
            background-size: 16px 16px;
            padding-left: 23px;
        }

        @include mobile {
            grid-column: 6 span;
        }
    }
}

.footer-left {
    grid-column: 7 span;

    @include mobile {
        grid-column: 12 span;
    }

    @include mobile {
        grid-column: 8 span;
    }

    &__top {
        @include flex-v-center;
        margin-bottom: 24px;

        @include mobile {
            display: block;
        }
    }
}

.footer-form {
    grid-column: 5 span;

    @include minitablet {
        grid-column: 12 span;
    }
  
    @include mobile {
        grid-column: 7 span;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: var(--color-white);
        margin-bottom: 23px;
    }

    &__inner {
        display: flex;
        margin-bottom: 16px;
    }

    &__field {
        width: 100%;
        @include flex-column-start;
    }

    &__input {
        height: 44px;
        width: 100%;
        background: rgba(255, 255, 255, 0.12);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 4px 0 0 4px;
        padding: 0 16px;
        color: var(--color-white);

        &:focus {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }
    }

    &__btn {
        border-radius: 0 4px 4px 0;
        padding: 0 25px;
        font-size: 14px;

        &:focus {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }
    }

    &__desc {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: rgba(#fff, 0.6);
    }
}

.footer-address {
    grid-column: 4 span;
    margin-top: 20px;

    @include mobile {
        grid-column: 8 span;
    }

    &__title {
        margin-bottom: 14px;
    }

    &__item {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: rgba(#fff, 0.6);
        font-style: normal;
        margin-bottom: 4px;

        a {
            color: rgba(#fff, 0.6);
            transition: all 0.3s ease-in-out;

            &:focus {
                outline: 2px solid var(--color-primary);
                outline-offset: 2px;
            }

            &:hover {
                color: var(--color-white);
            }
        }
    }

    &__name {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-white);
        font-style: normal;
    }
}

.footer-nav {
    grid-column: 8 span;
    display: flex;
    padding-top: 20px;
    padding-left: 54px;

    @include minitablet {
        padding-left: 20px;
    }

    @include mobile {
        padding-left: 0;
        display: block;
    }

    &__col {
        @include flex-column-start;
        
        &:not(:last-child) {
            margin-right: 125px;

            @include minitablet {
                margin-right: 75px;
            }

            @include mobile {
                margin-right: 35px;
                margin-bottom: 50px;
            }
        }
    }

    &__title {
        margin-bottom: 16px;
    }

    &__link {
        font-weight: 400;
        font-size: 16px;
        color: rgba(#fff, 0.6);
        margin-bottom: 15px;
        display: block;
        transition: all 0.3s ease-in-out;

        &:focus {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }

        &:hover {
            color: var(--color-white);
        }
    }
}
