.intro-services {
    padding: 156px 0 179px 0;
    background: var(--color-athens) url("../img/intro-services/bg-image.png") right -8px top  no-repeat;

    @include tablet {
        background-image: none;
        padding-bottom: 120px;
    }

    @include mobile {
        padding: 120px 0 60px 0;
    }

    &__breadcrumbs {
        margin-bottom: 44px;
    }

    &__title {
        margin-bottom: 24px;
    }

    &__desc {
        max-width: 600px;
    }
}


