.intro-work {
    padding: 155px 0 178px 0;
    background: var(--color-athens) url("../img/intro-work/bg-image.png") right -8px top no-repeat;

    @include tablet {
        background-image: none;
        padding-bottom: 120px;
    }

    @include mobile {
        padding-top: 120px;
    }
    
    &__breadcrumbs {
        margin-bottom: 45px;
    }

    &__title {
        margin-bottom: 24px;
    }
}

