.intro-positions {
    padding: 156px 0 143px 0;
    background: var(--color-athens) url("../img/intro-positions/bg-image.png") right -8px bottom -1px no-repeat;

    @include minidesk {
        background-image: none;
        padding-bottom: 120px;
    }

    @include mobile {
        padding: 110px 0 80px 0;
    }
    
    &__breadcrumbs {
        margin-bottom: 44px;
    }

    &__title {
        max-width: 595px;
        margin-bottom: 25px;
    }
}

