.intro-interior {
    padding-top: 156px;
    padding-bottom: 115px;
    background: var(--color-athens) url("../img/intro-interior/bg-image.png") right -9px top no-repeat;

    @include tablet {
        background-image: none;
        padding-bottom: 120px;
    }

    @include minitablet {
        padding: 100px 0 70px 0;
    }

    &__breadcrumbs {
        margin-bottom: 44px;
    }

    &__title {
        max-width: 600px;
        margin-bottom: 25px;
    }

    &__desc {
        max-width: 600px;
    }
}

