.page-intro {
    padding-top: 156px;

    &__breadcrumbs {
        margin-bottom: 44px;

        @include mobile {
            margin-bottom: 14px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 72px;
        line-height: 130%;
        color: var(--color-ebony);
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 24px;
      
        @include mobile {
          font-size: 45px;
        }
    }

    &__desc {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-storm);
        max-width: 600px;
      
        @include mobile {
            font-size: 15px;
        }
    }

    &__bottom {
        @include flex-all-sb;

        @include minitablet {
            display: block;
        }
    }

    &__social {
        transform: translate(3px, 2px);
        
        .social__link {
            margin: 0 4px;

            svg {
                width: 24px;
                height: 24px;
                fill: var(--color-storm);
            }
        }
    }

    &__meta {
        &__meta {
            @include minitablet {
                margin-bottom: 30px;
            }
            
            .article-meta__item {
                font-size: 16px;
    
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
    
                &::after {
                    @include mobile {
                        display: none;
                    }
                }
    
                @include mobile {
                    display: block;
                }
    
                &:first-child {
                    font-weight: 700;
                    color: var(--color-primary);
                }
    
                &:nth-child(2) {
                    background: url("../img/svg/Clock.svg") left center no-repeat;
                    background-size: 20px 20px;
                    padding-left: 27px;
                }
    
                &:not(:last-child) {
                    margin-right: 21px;
                    
                    &::after {
                       height: 16px;
                    }
                }
    
                &--comments {
                    padding-left: 29px;
                }
            }
        }
    }

    &--services {
        padding-bottom: 179px;
        background: var(--color-athens) url("../img/intro-services/bg-image.png") right -8px top  no-repeat;
    }

    &--interior {
        padding-bottom: 115px;
        background: var(--color-athens) url("../img/intro-interior/bg-image.png") right -9px top no-repeat;

        @include minitablet {
            padding: 100px 0 70px 0;
        }

        .page-intro__title {
            max-width: 600px;
            margin-bottom: 25px;
        }
    }

    &--work {
        padding: 155px 0 178px 0;
        background: var(--color-athens) url("../img/intro-work/bg-image.png") right -8px top no-repeat;
    
        @include mobile {
            padding-top: 120px;
        }

        .page-intro__breadcrumbs {
            margin-bottom: 45px;
        }
    }

    &--modern {
        position: relative;
        overflow: hidden;

        @include mobile {
            padding-bottom: 0;
        }

        .page-intro__bg-img {
            position: absolute;
            top: 48px;
            right: -8px;
        }

        .page-intro__title {
            font-size: 64px;
            margin-bottom: 57px;
            text-transform: initial;
    
            @include mobile {
                font-size: 45px;
            }
        }

        .page-intro__breadcrumbs {
            margin-bottom: 40px;
        }
    }

    &--about {
        position: relative;
        padding-bottom: 178px;
        background: var(--color-athens) url("../img/intro-about/Group 273.png") right -8px top no-repeat;

        @include mobile {
           padding-bottom: 80px;
        }
    }

    &--positions {
        padding-bottom: 143px;
        background: var(--color-athens) url("../img/intro-positions/bg-image.png") right -8px bottom -1px no-repeat;

        @include mobile {
            padding: 110px 0 80px 0;
        }

        .page-intro__title {
            max-width: 595px;
            margin-bottom: 25px;
        }
    }

    &--news {
        background: var(--color-athens) url("../img/intro-news/bg-image.png") right -8px center no-repeat;
        padding-bottom: 238px;

        @include mobile {
            padding: 110px 0 90px 0;
        }

        .page-intro__breadcrumbs {
            @include mobile {
                margin-bottom: 30px;
            }
        }
    }

    &--post {
        background-color: var(--color-athens);
        padding-bottom: 159px;

        @include minitablet {
            padding: 100px 0 120px 0;
        }

        .page-intro__breadcrumbs {
            margin-bottom: 43px;
        }

        .page-intro__title {
            font-size: 64px;
            line-height: 120%;
            margin-bottom: 48px;
            text-transform: initial;
    
            @include tablet {
                font-size: 50px;
            }
    
            @include minitablet {
                font-size: 30px;
            }
        }
    }

    &--contacts {
        background: var(--color-athens) url("../img/intro-contacts/bg-image.png") right -8px bottom 1px no-repeat;
        padding-bottom: 209px;

        @include mobile {
            padding: 130px 0 90px 0; 
        }

        .page-intro__breadcrumbs {
            @include tablet {
                margin-bottom: 20px;
            }
        }
    }

    @include tablet {
        background-image: none;
        padding-bottom: 120px;
    }

    @include mobile {
        padding: 120px 0 80px 0;
    }
}