.partners {
    padding-top: 81px;
    background-color: var(--color-athens);
    padding-bottom: 120px;

    @include tablet {
        padding-bottom: 50px;
    }

    &--about {
        background-color: var(--color-white);
        padding-top: 121px;

        @include mobile {
            padding-top: 50px;
        }

        .partners__title {
            margin-bottom: 23px;
        }

        .partners__desc {
            margin-bottom: 60px;
        }
    }

    &__title {
        margin-bottom: 59px;
    }

    &__body {
        display: grid;
        column-gap: 102px;
        grid-template-columns: repeat(6, 1fr);
        row-gap: 40px;

        @include minidesk {
            column-gap: 30px;
        }
    }

    &__item {
        display: block;

        img {
            max-width: 100%;
            width: 100%;
        }

        &:focus {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }
        
        @include tablet {
            display: flex;
            justify-content: center;
            grid-column: 3 span;
        }
    }
}

