.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;

    @include tablet {
        padding: 60px 0;
    }
    
    &__top {
        @include flex-all-sb;
        align-items: flex-end;

        @include minitablet{
            display: block;
        }

        &-title {
            max-width: 705px;

            @include mobile {
                font-size: 26px;
                margin-bottom: 0px;
            }
        }

        &-switches {
            display: flex;
            transform: translate(12px, 13px);

            @include minitablet {
                transform: translate(0px, 30px);
                justify-content: center;
            }
        }
    }

    &__slider {
        margin-top: 60px;
        padding-bottom: 83px;

        @include tablet {
            padding-bottom: 60px;
        }

        &-item {
            box-shadow: var(--box-shadow);
            border-radius: 4px;
            overflow: hidden;

            &:focus {
                outline: 2px solid var(--color-primary);
                outline-offset: 2px;
            }

            &:hover {
                .portfolio__slider-content {
                    transform: translateY(-69px);
                }
            }
        }

        &-img {
            img {
                max-width: 100%;

                @include tablet {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px 0 30px;
            transition: all 0.3s ease-in-out;
            background-color: var(--color-white);
        }

        &-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            color: var(--color-ebony);
        }

        &-desc {
            color: var(--color-storm);
            margin-top: 9px;
            margin-bottom: 25px;
        }

        &-btn {
            margin-bottom: -78px;

            &:focus {
                outline: 2px solid var(--color-primary);
                outline-offset: 2px;
            }
        }
    }
}