.reviews {
    background-color: var(--color-athens);

    @include minidesk {
        padding-bottom: 100px;
    }
    
    &__title {
        margin-bottom: 60px;

        @include minitablet {
            font-size: 35px;
            margin-bottom: 45px;
        }

        @include mobile {
            font-size: 25px;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        max-width: 612px;
        padding-top: 60px;

        @include minidesk {
            max-width: 650px;
            margin: 0 auto;
        }

        @include minitablet {
            max-width: 550px;
        }

        @include mobile {
            max-width: 100%;
        }
    }

    &__slider {
        position: relative;
        padding-bottom: 10px;
    }

    &__avatar {
        margin-bottom: 25px;
        width: 72px;
        height: 72px;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }

    

    &__review {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-gray);

        @include mobile {
            font-size: 12px;
        }
    }

    &__author {
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-ebony);
        margin-top: 25px;
        margin-bottom: 5px;
        padding-right: 110px;
    }

    &__position {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-storm);
        padding-right: 110px;
    }

    &__img {
        position: relative;
        top: 60px;
        max-width: 100%;

        @include minidesk {
            display: none;
        }
    }

    &__switches {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 10;
    }
}

