.team {
    padding-top: 60px;
    padding-bottom: 120px;
    position: relative;
    overflow: hidden;

    &__bg-img {
        position: absolute;
        bottom: -320px;
        left: -9px;
        z-index: -1;
    }

    &__body {
        @include grid;
        row-gap: 60px;

        @include mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 3 span;
        transition: all 0.3s ease-in-out;

        @include tablet {
            grid-column: 4 span;
        }

        @include minitablet {
            grid-column: 6 span;
        }

        &:not(:last-child) {
            @include mobile {
                margin-bottom: 0px;
            }
        }

        &:hover {
            .team__social {
                transform: translateY(0px);
            }
        }
    }

    &__social {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 10;
        background-color: rgba(#FF5A30, 0.7);
        width: 100%;
        padding: 19px 0;
        transform: translateY(70px);
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
        @include flex-all-center;
        border-radius: 0 0 4px 4px;
    }

    &__photo {
        position: relative;
        overflow: hidden;
        width: fit-content;

        img {
            max-width: 100%;
            vertical-align: top;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 16px;
    }

    &__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-gray);
        margin-bottom: 5px;
    }

    &__post {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-storm);
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: var(--color-ebony);
        margin-top: 79px;

        a {
            padding-top: 2px;
            border-bottom: 2px solid currentColor;
            color: var(--color-primary);
            transition: color 0.3s ease-in-out;

            &:focus {
                outline: 2px solid var(--color-primary);
                outline-offset: 2px;
            }

            &:hover {
                border-bottom: 0;
            }
        }
    }
}

.social {
    &__link {
        margin: 0 6px;

        &:focus {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }

        svg {
            width: 20px;
            height: 20px;
            fill: var(--color-white);
            object-fit: cover;
        }
    }
}
