.worldwide {
    background-color: var(--color-athens);
    padding-top: 81px;
    padding-bottom: 118px;
    &__title {
        margin-bottom: 59px;
    }

    @include minidesk {
        display: none;
    }
}