<section class="about-mission">
    <div class="container">
        <div class="centered">
            <h2 class="about-mission__title section-title">Our core values</h2>
            <p class="about-mission__desc section-desc">Our mission is&nbsp;to&nbsp;set the highest standards for construction sphere.</p>
        </div>
        <div class="about-mission__body">
            <div class="about-mission__item">
                <div class="about-mission__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Quality"></use>
                    </svg>
                </div>
                <div class="about-mission__caption">Quality</div>
                <div class="about-mission__text">Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.</div>
            </div>
            <div class="about-mission__item">
                <div class="about-mission__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Safety"></use>
                    </svg>
                </div>
                <div class="about-mission__caption">Safety</div>
                <div class="about-mission__text">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est&nbsp;ea.</div>
            </div>
            <div class="about-mission__item">
                <div class="about-mission__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Comfort"></use>
                    </svg>
                </div>
                <div class="about-mission__caption">Comfort</div>
                <div class="about-mission__text">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea&nbsp;ad.</div>
            </div>
        </div>
    </div>
</section>