<div class="about">
    <div class="container">
        <div class="centered">
            <h2 class="about__title section-title">We are Createx Construction Bureau</h2>
            <p class="about__desc section-desc">We&nbsp;are rightfully considered to&nbsp;be&nbsp;the best construction company in&nbsp;the USA.</p>
        </div>
        <div class="about__video">
            <button class="about__video-play" aria-label="Play video">
                <svg>
                  <use xlink:href="img/sprite.svg#Play"></use>
                </svg>
            </button>
            <video src="about-video.mp4" class="about__video-video" muted loop preload="metadata"></video>
        </div>
    </div>
</div>