<section class="achieve">
    <img src="img/achieve/bg-image.png" alt="" class="achieve__bg-img">
    <div class="container">
        <div class="achieve__stat">
            <div class="achieve__item">
                <div class="achieve__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Quality"></use>
                    </svg>
                    <div class="achieve__value">60%</div>
                    <div class="achieve__text">Clients on the recommendation <br> of friends</div>
                </div>
            </div>
            <div class="achieve__item">
                <div class="achieve__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Repairs"></use>
                    </svg>
                    <div class="achieve__value">2400+</div>
                    <div class="achieve__text">Apartments renovated</div>
                </div>
            </div>
            <div class="achieve__item">
                <div class="achieve__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Workers"></use>
                    </svg>
                    <div class="achieve__value">670</div>
                    <div class="achieve__text">Qualified specialists</div>
                </div>
            </div>
            <div class="achieve__item">
                <div class="achieve__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Interior-tab"></use>
                    </svg>
                    <div class="achieve__value">150000+ m<sup>2</sup></div>
                    <div class="achieve__text">Finishing work was carried out</div>
                </div>
            </div>
        </div>
        <div class="achieve__content">
            <img src="img/achieve/image.jpg" alt="" class="achieve__photo">
            <div class="achieve__info">
                <blockquote class="achieve__quote quote">
                    <div class="quote__text">
                        <p>Dapibus nec vitae ante mattis. Aliquam phasellus ac&nbsp;dui augue&nbsp;in. Sed aliquet in&nbsp;egestas hac at&nbsp;proin sed quam. Etiam aliquet sagittis non, massa cum pulvinar. Et&nbsp;in&nbsp;leo, tempus purus vestibulum ut&nbsp;blandit et&nbsp;mi. Odio massa purus vel praesent arcu enim elit felis viverra.</p>
                        <p>Magna aliquam interdum mattis ipsum arcu. Elit odio elit viverra quis metus amet eleifend amet. Vet suspendisse faucibus tempor ipsum integer.</p>
                    </div>
                    <div class="quote__author">
                        <span class="quote__name">Courtney Alexander</span>
                        CEO ‐ Createx Construction Bureau 
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</section>