<section class="categories">
    <div class="container">
        <div class="centered">
            <h2 class="categories__title section-title">Categories</h2>
        </div>
        <ul class="categories-nav">
            <li class="categories-nav__item">
                <a href="#" class="categories-nav__btn categories-nav__btn--active">All News</a>
            </li>
            <li class="categories-nav__item">
                <a href="#" class="categories-nav__btn">Company News</a>
            </li>
            <li class="categories-nav__item">
                <a href="#" class="categories-nav__btn">Innovation</a>
            </li>
            <li class="categories-nav__item">
                <a href="#" class="categories-nav__btn">Industry News</a>
            </li>
            <li class="categories-nav__item">
                <a href="#" class="categories-nav__btn">Expert Tips</a>
            </li>
            <li class="categories-nav__item">
                <a href="#" class="categories-nav__btn">Marketing</a>
            </li>
        </ul>
        <div class="categories__body">
            <div class="categories__item">
                <article class="news__article">
                    <img src="img/categories/image-1.jpg" alt="" class="news__article-img">
                    <div class="news__article-content">
                        <a href="news-post.html" class="news__article-title">How to Build Climate Change-Resilient Infrastructure</a>
                        <div class="news__article-meta article-meta">
                            <a href="#" class="article-meta__item">Industry News</a>
                            <time class="article-meta__item" datetime="2020-24-07 12:00">June 24, 2020</time>
                            <span class="article-meta__item article-meta__item--comments">4 comments</span>
                        </div>
                        <p class="news__article-text">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...</p>
                    </div>
                </article>
            </div>
            <div class="categories__item">
                <article class="news__article">
                    <img src="img/categories/image-2.jpg" alt="" class="news__article-img">
                    <div class="news__article-content">
                        <a href="#" class="news__article-title">How Construction Can Help Itself</a>
                        <div class="news__article-meta article-meta">
                            <a href="#" class="article-meta__item">Innovation</a>
                            <time class="article-meta__item" datetime="2020-24-07 12:00">June 12, 2020</time>
                            <span class="article-meta__item article-meta__item--comments">No comments</span>
                        </div>
                        <p class="news__article-text">Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus placerat vitae scelerisque. Rhoncus augue faucibus maecenas lacus...</p>
                    </div>
                </article>
            </div>
            <div class="categories__item">
                <article class="news__article">
                    <img src="img/categories/image-3.jpg" alt="" class="news__article-img">
                    <div class="news__article-content">
                        <a href="#" class="news__article-title">The Difference Between a Digger and an Excavator</a>
                        <div class="news__article-meta article-meta">
                            <a href="#" class="article-meta__item">Expert Tips</a>
                            <time class="article-meta__item" datetime="2020-24-07 12:00">May 16, 2020</time>
                            <span class="article-meta__item article-meta__item--comments">No comments</span>
                        </div>
                        <p class="news__article-text">Cras est nisi purus velit facilisi vitae, dolor. Lorem scelerisque integer duis et&nbsp;nulla lobortis cursus. Viverra erat sollicitudin praesent viverra...</p>
                    </div>
                </article>
            </div>
            <div class="categories__item">
                <article class="news__article">
                    <img src="img/categories/image-4.jpg" alt="" class="news__article-img">
                    <div class="news__article-content">
                        <a href="#" class="news__article-title">Building Construction Hand Tools</a>
                        <div class="news__article-meta article-meta">
                            <a href="#" class="article-meta__item">Expert Tips</a>
                            <time class="article-meta__item" datetime="2020-24-07 12:00">February 25, 2020</time>
                            <span class="article-meta__item article-meta__item--comments">1 comment</span>
                        </div>
                        <p class="news__article-text">Tellus quis aliquet volutpat nunc pulvinar donec sed sapien. Vitae elit id&nbsp;dolor, tristique massa. Fames lobortis orci rutrum bibendum integer...</p>
                    </div>
                </article>
            </div>
            <div class="categories__item">
                <article class="news__article">
                    <img src="img/categories/image-5.jpg" alt="" class="news__article-img">
                    <div class="news__article-content">
                        <a href="#" class="news__article-title">Top 10 Construction Trends</a>
                        <div class="news__article-meta article-meta">
                            <a href="#" class="article-meta__item">Industry News</a>
                            <time class="article-meta__item" datetime="2020-24-07 12:00">January 14, 2020</time>
                            <span class="article-meta__item article-meta__item--comments">No comments</span>
                        </div>
                        <p class="news__article-text">Dignissim sed enim, eleifend morbi condimentum. Congue id&nbsp;quis vulputate dignissim eget. Ac&nbsp;ullamcorper nunc habitasse enim interdum platea...</p>
                    </div>
                </article>
            </div>
            <div class="categories__item">
                <article class="news__article">
                    <img src="img/categories/image-6.jpg" alt="" class="news__article-img">
                    <div class="news__article-content">
                        <a href="#" class="news__article-title">Types of Flooring Materials</a>
                        <div class="news__article-meta article-meta">
                            <a href="#" class="article-meta__item">Company News</a>
                            <time class="article-meta__item" datetime="2020-24-07 12:00">December 1, 2019</time>
                            <span class="article-meta__item article-meta__item--comments">No comments</span>
                        </div>
                        <p class="news__article-text">Maecenas donec lacinia nunc, quam sit magnis mauris. Neque bibendum et&nbsp;mauris, aenean. Vel arcu amet in&nbsp;sem parturient integer duis et&nbsp;nulla...</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="categories__pag">
            <div class="categories__pag-item">
                <a href="#" class="categories__pag-link categories__pag-link--active">1</a>
            </div>
            <div class="categories__pag-item">
                <a href="#" class="categories__pag-link">2</a>
            </div>
            <div class="categories__pag-item">
                <a href="#" class="categories__pag-link">3</a>
            </div>
            <div class="categories__pag-item">
                <a href="#" class="categories__pag-link">4</a>
            </div>
            <div class="categories__pag-item">
                <a href="#" class="categories__pag-link">
                    <svg>
                        <use xlink:href="img/sprite.svg#Arrow-next"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>