<section class="clients">
    <div class="container">
        <div class="centered">
            <h2 class="clients__title section-title">Our clients</h2>
        </div>
        <div class="clients__body">
            <a href="#" class="clients__item">
                <img src="img/partners/partners-1.png" alt="logo 1">
            </a>
            <a href="#" class="clients__item">
                <img src="img/partners/partners-2.png" alt="logo 2">
            </a>
            <a href="#" class="clients__item">
                <img src="img/partners/partners-3.png" alt="logo 3">
            </a>
            <a href="#" class="clients__item">
                <img src="img/partners/partners-4.png" alt="logo 4">
            </a>
            <a href="#" class="clients__item">
                <img src="img/partners/partners-5.png" alt="logo 5">
            </a>
            <a href="#" class="clients__item">
                <img src="img/partners/partners-6.png" alt="logo 6">
            </a>
        </div>
    </div>
</section>