<section class="contacts-forms">
    <div class="container">
        <div class="centered">
            <h2 class="contacts-forms__title section-title">Contact us</h2>
            <p class="contacts-forms__desc section-desc">Please complete the form. Detailed information will help&nbsp;us to&nbsp;make a&nbsp;tuned offer.</p>
        </div>
        <div class="contacts-forms__inner">
            <img src="img/contacts-form/image.jpg" alt="" class="contacts-forms__img">
            <form action="#" method="post" class="contacts-forms__form">
                <div class="contacts-forms__row">
                    <label for="" class="contacts-forms__field">
                        <span class="contacts-forms__caption">Name*</span>
                        <input type="text" class="contacts-forms__input" placeholder="Your name">
                    </label>
                    <label class="contacts-forms__field">
                        <span class="contacts-forms__caption">I am interested in</span>
                        <select name="interest" class="contacts-forms__select">
                            <option value="1">Interior Design 1</option>
                            <option value="2">Interior Design 2</option>
                            <option value="3">Interior Design 3</option>
                        </select>
                    </label>
                </div>
                <div class="contacts-forms__row">
                    <label for="" class="contacts-forms__field">
                        <span class="contacts-forms__caption">Phone*</span>
                        <input type="text" class="contacts-forms__input" placeholder="Your phone number">
                    </label>
                    <label class="contacts-forms__field">
                        <span class="contacts-forms__caption">Location*</span>
                        <select name="interest" class="contacts-forms__select">
                            <option value="1">New York 1</option>
                            <option value="2">New York 2</option>
                            <option value="3">New York 3</option>
                        </select>
                    </label>
                </div>
                <div class="contacts-forms__row">
                    <label for="" class="contacts-forms__field">
                        <span class="contacts-forms__caption">Email</span>
                        <input type="text" class="contacts-forms__input" placeholder="Your working email">
                    </label>
                    <fieldset class="contacts-forms__fieldset">
                        <legend class="contacts-forms__caption">Preferred contact method</legend>
                        <div class="contacts-forms__line">
                            <label class="custom-radio contacts-forms__radio">
                                <input name="contact_method" type="radio" class="custom-radio__input" value="Phone">
                                <span class="custom-radio__text">Phone</span>
                            </label>
                            <label class="custom-radio contacts-forms__radio">
                                <input name="contact_method" type="radio" class="custom-radio__input" value="Email">
                                <span class="custom-radio__text">Email</span>
                            </label>
                            <label class="custom-radio contacts-forms__radio">
                                <input name="contact_method" type="radio" class="custom-radio__input" value="Viber">
                                <span class="custom-radio__text">Viber</span>
                            </label>
                        </div>
                    </fieldset>
                </div>
                <label class="contacts-forms__field contacts-forms__field--mes">
                    <span class="contacts-forms__caption">Message*</span>
                    <textarea type="message" class="contacts-forms__textarea" placeholder="Your message"></textarea>
                </label>
                <div class="contacts-forms__bottom">
                    <label class="custom-checkbox contacts-forms__checkbox">
                        <input type="checkbox" class="custom-checkbox__input">
                        <span class="custom-checkbox__text">I agree to receive communications from Createx Construction Bureau.</span>
                    </label>
                    <button class="contacts-forms__btn btn btn--fill">send request</button>
                </div>
            </form>
        </div>  
    </div>
</section>