<section class="contacts">
    <div class="container">
        <div class="contacts__body">
            <form action="#" method="post" class="contacts__form">
                <h2 class="contacts__form-title section-title">A quick way to discuss details</h2>
                <div class="contacts__form-content">
                    <label class="contacts__form-field">
                        <div class="contacts__form-caption">Name*</div>
                        <input type="text" class="contacts__form-input" placeholder="Your name">
                    </label>
                    <label class="contacts__form-field">
                        <div class="contacts__form-caption form-field__caption">Phone*</div>
                        <input type="text" class="contacts__form-input" placeholder="Your phone number">
                    </label>
                    <label class="contacts__form-field">
                        <div class="contacts__form-caption">Email</div>
                        <input type="text" class="contacts__form-input" placeholder="Your working email">
                    </label>
                    <label class="contacts__form-field contacts__form-field--textarea">
                        <div class="contacts__form-caption">Message*</div>
                        <textarea class="contacts__form-textarea" placeholder="Your message"></textarea>
                    </label>
                    <label class="custom-checkbox contacts__form-checkbox">
                        <input type="checkbox" class="custom-checkbox__input">
                        <span class="custom-checkbox__text">I agree to receive communications from Createx Construction Bureau.</span>
                    </label>
                    <div class="centered">
                        <button class="contacts__form-btn btn btn--fill">send request</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>