<section class="employee-benefits">
    <div class="container">
        <div class="centered">
            <h2 class="employee-benefits__title section-title">Employee benefits</h2>
            <p class="services-benefits__desc section-desc">There’s always room for talent.</p>
        </div>
        <div class="employee-benefits__body">
            <div class="employee-benefits__item">
                <div class="employee-benefits__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Training"></use>
                    </svg>
                    <div class="employee-benefits__caption">Training</div>
                    <p class="employee-benefits__text">Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.</p>
                </div>
            </div>
            <div class="employee-benefits__item">
                <div class="employee-benefits__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Growth"></use>
                    </svg>
                    <div class="employee-benefits__caption">Professional Growth</div>
                    <p class="employee-benefits__text">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est&nbsp;ea.</p>
                </div>
            </div>
            <div class="employee-benefits__item">
                <div class="employee-benefits__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Salary"></use>
                    </svg>
                    <div class="employee-benefits__caption">Growing Salary</div>
                    <p class="employee-benefits__text">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea&nbsp;ad.</p>
                </div>
            </div>
        </div>
    </div>
</section>