<footer class="footer">
    <a href="#page" class="to-top">
        <span class="to-top__text">GO TO TOP</span>
        <span class="to-top__arrow">
            <svg>
                <use xlink:href="img/sprite.svg#To-top"></use>
            </svg>
        </span>
    </a>
    <div class="container">
        <div class="footer__body">
            <div class="footer-left">
                <div class="footer-left__top">
                    <a href="#" class="footer__logo">
                        <img src="img/svg/logo-footer.svg" alt="">
                    </a>
                    <ul class="footer__social">
                        <li>
                            <a href="#"  target="_blank" class="footer__social-link">
                                <svg>
                                    <use xlink:href="img/sprite.svg#Whatsapp"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#"  target="_blank" class="footer__social-link">
                                <svg>
                                    <use xlink:href="img/sprite.svg#Messanger"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#"  target="_blank" class="footer__social-link">
                                <svg>
                                    <use xlink:href="img/sprite.svg#Facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#"  target="_blank" class="footer__social-link">
                                <svg>
                                    <use xlink:href="img/sprite.svg#Twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#"  target="_blank" class="footer__social-link">
                                <svg>
                                    <use xlink:href="img/sprite.svg#YouTube"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="footer__desc">Createx Construction Bureau has been successfully operating in the USA construction market since 2000. We are proud to offer you quality construction and exemplary service. Our mission is to set the highest standards for construction sphere.</p>
            </div>
            <form action="#" class="footer-form">
                <h3 class="footer-form__title">Let’s stay in touch</h3>
                <div class="footer-form__inner">
                    <label class="footer-form__field">
                        <input type="text" class="footer-form__input" placeholder="Your email address">
                    </label>
                    <button class="footer-form__btn btn btn--fill">subscribe</button>
                </div>
                <p class="footer-form__desc">*Subscribe to our newsletter to receive communications and early updates from Createx Construction Bureau.</p>
            </form>
            <address class="footer-address">
                <h3 class="footer-address__title footer__title">HEAD OFFICE</h3>
                <div class="footer-address__item">
                    <span class="footer-address__name">Address:</span>
                    8502 Preston Rd. Inglewood, New York
                </div>
                <div class="footer-address__item">
                    <span class="footer-address__name">Call:</span>
                    <a href="tel:4055550128">(405) 555-0128</a>
                </div>
                <div class="footer-address__item">
                    <span class="footer-address__name">Email:</span>
                    <a href="mailto:hello@createx.com">hello@createx.com</a>
                </div>
            </address>
            <nav class="footer-nav">
                <div class="footer-nav__col">
                    <h3 class="footer-nav__title footer__title">WHO WE ARE</h3>
                    <ul class="footer-nav__list">
                        <li>
                            <a href="#" class="footer-nav__link">About Us</a>
                        </li>
                        <li>
                            <a href="#" class="footer-nav__link">Available Positions</a>
                        </li>
                        <li>
                            <a href="#" class="footer-nav__link">Contacts</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-nav__col">
                    <h3 class="footer-nav__title footer__title">OUR EXPERIENCE</h3>
                    <ul class="footer-nav__list">
                        <li>
                            <a href="#" class="footer-nav__link">Services</a>
                        </li>
                        <li>
                            <a href="#" class="footer-nav__link">Work</a>
                        </li>
                        <li>
                            <a href="#" class="footer-nav__link">News</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <small class="footer__copyright">
                &copy; All rights reserved. Made with <span>by Createx Studio </span>
            </small>
        </div>
    </div>
</footer>
<div class="overlay"></div>