<header class="header header--absolute js-header">
    <div class="container">
        <div class="header__body">
            <a href="index.html" class="header__logo">
                <img src="img/svg/logo.svg" alt="">
            </a>
            <nav class="header__menu">
                <a href="index.html" class="header__logo header__logo--nav">
                    <img src="img/svg/logo.svg" alt="Createx Logo">
                </a>
                <ul class="header__list list-reset">
                    <li>
                        <a href="about-main.html" class="header__link">About Us</a>
                    </li>
                    <li>
                        <a href="services-main.html" class="header__link">Services</a>
                    </li>
                    <li>
                        <a href="work-main.html" class="header__link">Work</a>
                    </li>
                    <li>
                        <a href="news-main.html" class="header__link">News</a>
                    </li>
                    <li>
                        <a href="contacts-main.html" class="header__link">Contacts</a>
                    </li>
                </ul>
                <div class="header__contacts header__contacts--nav">
                    <a href="tel:4055550128" class="header__contacts-link header__contacts-link--call">
                        <span class="header__contacts-caption">Call us</span>
                        <span class="header__contacts-connect">(405) 555-0128</span>
                    </a>
                    <a href="mailto:hello@createx.com" class="header__contacts-link header__contacts-link--email">
                        <span class="header__contacts-caption">Talk to us</span>
                        <span class="header__contacts-connect">hello@createx.com</span>
                    </a>
                </div>
            </nav>
            <div class="header__contacts">
                <a href="tel:4055550128" class="header__contacts-link header__contacts-link--call">
                    <span class="header__contacts-caption">Call us</span>
                    <span class="header__contacts-connect">(405) 555-0128</span>
                </a>
                <a href="mailto:hello@createx.com" class="header__contacts-link header__contacts-link--email">
                    <span class="header__contacts-caption">Talk to us</span>
                    <span class="header__contacts-connect">hello@createx.com</span>
                </a>
            </div>
            <div class="burger" aria-label="Открыть меню">
                <span class="burger__line"></span>
            </div>
        </div>
    </div>
</header>