<section class="history">
    <div class="container">
        <div class="history__top">
            <h2 class="history__top-title section-title">Our history</h2>
            <div class="history__top-switches slider-switches">
                <button class="history__top-switch slider-switch history-switch__prev">
                    <svg>
                        <use xlink:href="img/sprite.svg#Arrow-prev"></use>
                    </svg>
                </button>
                <button class="history__top-switch slider-switch history-switch__next">
                    <svg>
                        <use xlink:href="img/sprite.svg#Arrow-next"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="history__content">
            <ul class="history__nav">
                <li class="history__nav-item">
                    <button class="history__nav-btn history__nav-btn--active">Present</button>
                </li>
                <li class="history__nav-item">
                    <button class="history__nav-btn">March 2019</button>
                </li>
                <li class="history__nav-item">
                    <button class="history__nav-btn">November 2018</button>
                </li>
                <li class="history__nav-item">
                    <button class="history__nav-btn">July 2015</button>
                </li>
                <li class="history__nav-item">
                    <button class="history__nav-btn">August 2010</button>
                </li>
                <li class="history__nav-item">
                    <button class="history__nav-btn">February 2007</button>
                </li>
                <li class="history__nav-item">
                    <button class="history__nav-btn">May 2004</button>
                </li>
                <li class="history__nav-item">
                    <button class="history__nav-btn">October 2001</button>
                </li>
                <li class="history__nav-item">
                    <button class="history__nav-btn">June 2000</button>
                </li>
            </ul>
            <div class="history__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/history/image-1.jpg" alt="" class="history__slider-img">
                        <p class="history__slider-text">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae, malesuada vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu&nbsp;nec vitae,</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="img/history/image-1.jpg" alt="" class="history__slider-img">
                        <p class="history__slider-text">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae, malesuada vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu&nbsp;nec vitae,</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="img/history/image-1.jpg" alt="" class="history__slider-img">
                        <p class="history__slider-text">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae, malesuada vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu&nbsp;nec vitae,</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="img/history/image-1.jpg" alt="" class="history__slider-img">
                        <p class="history__slider-text">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae, malesuada vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu&nbsp;nec vitae,</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="img/history/image-1.jpg" alt="" class="history__slider-img">
                        <p class="history__slider-text">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae, malesuada vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu&nbsp;nec vitae,</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="img/history/image-1.jpg" alt="" class="history__slider-img">
                        <p class="history__slider-text">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae, malesuada vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu&nbsp;nec vitae,</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="img/history/image-1.jpg" alt="" class="history__slider-img">
                        <p class="history__slider-text">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae, malesuada vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu&nbsp;nec vitae,</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="img/history/image-1.jpg" alt="" class="history__slider-img">
                        <p class="history__slider-text">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae, malesuada vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu&nbsp;nec vitae,</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="img/history/image-1.jpg" alt="" class="history__slider-img">
                        <p class="history__slider-text">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae, malesuada vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu&nbsp;nec vitae,</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>