<section class="how-we-do">
    <div class="container">
        <h2 class="how-we-do__title section-title">That’s how we do it</h2>
        <div class="how-we-do__body">
            <div class="how-we-do__item">
                <h3 class="how-we-do__caption">Work Estimate</h3>
                <p class="how-we-do__desc">Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit.</p>
            </div>
            <div class="how-we-do__item">
                <h3 class="how-we-do__caption">Contract</h3>
                <p class="how-we-do__desc">Laoreet ultrices curabitur luctus quisque consequat. Leo lorem velit imperdiet auctor et&nbsp;tempor.</p>
            </div>
            <div class="how-we-do__item">
                <h3 class="how-we-do__caption">Mobilization</h3>
                <p class="how-we-do__desc">Odio massa scelerisque purus arcu sed velit eleifend cursus leo.</p>
            </div>
            <div class="how-we-do__item">
                <h3 class="how-we-do__caption">Construction Work</h3>
                <p class="how-we-do__desc">Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et&nbsp;ad&nbsp;et&nbsp;veniam ad&nbsp;deserunt.</p>
            </div>
        </div>
    </div>
</section>