<section class="intro-positions page-intro">
    <div class="container">
        <ul class="intro-positions__breadcrumbs breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="index.html" class="breadcrumbs__link">Homepage</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="about-main.html" class="breadcrumbs__link">About Us</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link">Available Positions</a>
            </li>
        </ul>
        <h1 class="intro-positions__title page-title">AVAILABLE POSITIONS</h1>
        <p class="intro-positions__desc page-desc">Build your career with Createx Construction Bureau.</p>
    </div>
</section>