<section class="intro-work page-intro">
    <div class="container">
        <ul class="intro-work__breadcrumbs breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="index.html" class="breadcrumbs__link">Homepage</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link">Work</a>
            </li>
        </ul>
        <h1 class="intro-work__title page-title">OUR WORK</h1>
        <p class="intro-work__desc page-desc">Our portfolio represents 20&nbsp;years of&nbsp;construction experience backed by&nbsp;a&nbsp;passion for perfect client service, quality and innovations in&nbsp;consctuction industry.</p>
    </div>
</section>