<section class="page-intro page-intro--interior">
    <div class="container">
        <ul class="page-intro__breadcrumbs breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="index.html" class="breadcrumbs__link">Homepage</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="services-main.html" class="breadcrumbs__link">Services</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link">Interior Design</a>
            </li>
        </ul>
        <h1 class="page-intro__title">INTERIOR DESIGN</h1>
        <p class="page-intro__desc">Dui augue nec mi&nbsp;mi. Ut&nbsp;ac&nbsp;lectus donec fames pellentesque. Laoreet aenean vulputate elementum blandit amet.</p>
    </div>
</section>