<section class="mission">
    <div class="container">
        <div class="centered">
            <h2 class="mission__title section-title">Our core values</h2>
            <p class="mission__desc section-desc">Our mission is&nbsp;to&nbsp;set the highest standards for construction sphere.</p>
        </div>
        <div class="mission__body">
            <div class="mission__item">
                <div class="mission__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Quality"></use>
                    </svg>
                </div>
                <div class="mission__caption">Quality</div>
                <div class="mission__text">Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.</div>
            </div>
            <div class="mission__item">
                <div class="mission__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Safety"></use>
                    </svg>
                </div>
                <div class="mission__caption">Safety</div>
                <div class="mission__text">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est&nbsp;ea.</div>
            </div>
            <div class="mission__item">
                <div class="mission__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Comfort"></use>
                    </svg>
                </div>
                <div class="mission__caption">Comfort</div>
                <div class="mission__text">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea&nbsp;ad.</div>
            </div>
        </div>
        <form action="#" class="mission__form">
            <h3 class="mission__form-title footer-title">Want to know more? Ask us a question:</h3>
            <div class="mission__form-content">
                <label for="#" class="mission__form-field">
                    <span class="mission__form-caption">Name</span>
                    <input type="text" class="mission__form-input" placeholder="Your name">
                </label>
                <label for="#" class="mission__form-field">
                    <span class="mission__form-caption">Phone</span>
                    <input type="tel" class="mission__form-input" placeholder="Your phone">
                </label>
                <label for="#" class="mission__form-field mission__form-field--long">
                    <span class="mission__form-caption">Message</span>
                    <input type="text" class="mission__form-input" placeholder="Your message">
                </label>
                <button class="mission__form-btn btn btn--fill" type="submit">Send</button>
            </div>
        </form>
    </div>
</section>