<section class="news">
    <div class="container">
        <div class="centered">
            <h2 class="facts__title section-title">Recent news</h2>
        </div>
        <div class="news__body">
            <div class="news__item">
                <article class="news__article">
                    <img src="img/news/image-1.jpg" alt="article 1" class="news__article-img">
                    <div class="news__article-content">
                        <a href="news-post.html" class="news__article-title">How to Build Climate Change-Resilient Infrastructure</a>
                        <div class="news__article-meta article-meta">
                            <a href="#" class="article-meta__item">Industry News</a>
                            <time class="article-meta__item" datetime="2020-24-06 12:00">June 24, 2020</time>
                            <span class="article-meta__item article-meta__item--comments">4 comments</span>
                        </div>
                        <p class="news__article-text">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...</p>
                    </div>
                </article>
            </div>
            <div class="news__item">
                <article class="news__article news__article--small">
                    <img src="img/news/image-2.jpg" alt="article 2" class="news__article-img">
                    <div class="news__article-content">
                        <a href="#" class="news__article-title">How Construction Can Help Itself</a>
                        <div class="news__article-meta article-meta">
                            <a href="#" class="article-meta__item">Innovation</a>
                            <time class="article-meta__item" datetime="2020-12-06 12:00">June 12, 2020</time>
                            <span class="article-meta__item article-meta__item--comments">No comments</span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="news__item">
                <article class="news__article news__article--small">
                    <img src="img/news/image-3.jpg" alt="article 3" class="news__article-img">
                    <div class="news__article-content">
                        <a href="#" class="news__article-title">Types of Flooring Materials</a>
                        <div class="news__article-meta article-meta">
                            <a href="#" class="article-meta__item">Company News</a>
                            <time class="article-meta__item" datetime="2019-01-12 12:00">December 1, 2019</time>
                            <span class="article-meta__item article-meta__item--comments">No comments</span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="section-footer">
            <h3 class="section__footer-title">Explore all our news posts</h3>
            <a href="news-main.html" class="section__footer-btn btn btn--fill">View all news</a>
        </div>
    </div>
</section>