<div id="popup1" class="popup popup__one">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#close" class="popup__close close-popup">
                <svg>
                    <use xlink:href="img/sprite.svg#Close"></use>
                </svg>
            </a>
            <form action="#" class="popup__form">
                <h2 class="popup__title">Subscribe to our newsletter</h2>
                <label class="popup__form-field">
                    <span class="popup__form-caption">Name*</span>
                    <input type="text" class="popup__form-input" placeholder="Your name">
                </label>
                <label class="popup__form-field">
                    <span class="popup__form-caption">Email*</span>
                    <input type="message" class="popup__form-input" placeholder="Your working email">
                </label>
                <div class="centered">
                    <button class="popup__form-btn btn btn--fill" type="submit">send</button>
                </div>
            </form>
        </div>
    </div>
</div> 

<div id="popup2" class="popup popup__two">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#close" class="popup__close close-popup">
                <svg>
                    <use xlink:href="img/sprite.svg#Close"></use>
                </svg>
            </a>
            <form action="#" class="popup__form">
                <h2 class="popup__title">Send your CV</h2>
                <label class="popup__form-field">
                    <span class="popup__form-caption">Name*</span>
                    <input type="text" class="popup__form-input" placeholder="Your name">
                </label>
                <label class="popup__form-field">
                    <span class="popup__form-caption">Name*</span>
                    <select name="location" class="popup__form-select">
                        <option value="1">Choose your location</option>
                        <option value="2">Choose your location</option>
                        <option value="3">Choose your location</option>
                    </select>
                </label>
                <label class="popup__form-field">
                    <span class="popup__form-caption">Phone*</span>
                    <input type="message" class="popup__form-input" placeholder="Your phone number">
                </label>
                <label class="popup__form-field">
                    <span class="popup__form-caption">Email*</span>
                    <input type="message" class="popup__form-input" placeholder="Your working email">
                </label>
                <label class="popup__form-field">
                    <span class="popup__form-caption">Сovering letter</span>
                    <textarea name="message" class="popup__form-textarea" placeholder="Your covering letter"></textarea>
                </label>
                <label class="custom-file popup__form-file">
                    <input type="file" class="custom-file__input">
                    <span class="custom-file__text">Attach your CV*</span>
                </label>
                <div class="centered">
                    <button class="popup__form-btn btn btn--fill" type="submit">send</button>
                </div>
            </form>
        </div>
    </div>
</div> 