<form class="post-form">
    <div class="centered">
        <h2 class="post-form__title section-title">Leave your comment</h2>
    </div>
    <div class="post-form__content">
        <label class="post-form__field">
            <span class="post-form__caption">Name*</span>
            <input type="text" class="post-form__input" placeholder="Your name">
        </label>
        <label class="post-form__field">
            <span class="post-form__caption">Email*</span>
            <input type="email" name="email" required placeholder="Your working email" class="post-form__input">
        </label>
        <label class="post-form__field post-form__field--long">
            <span class="post-form__caption">Your comment*</span>
            <textarea name="message" placeholder="Type comment here" class="post-form__textarea"></textarea>
        </label>
    </div>
    <div class="centered">
        <button class="btn btn--fill post-form__btn">Post comment</button>
    </div>
</form>