<section class="post-comments">
    <div class="container">
        <div class="centered">
            <h2 class="post-comments__title section-title">4 comments</h2>
        </div>
        <div class="post-comments__content">
            <article class="post-comments__item comments-item">
                <div class="comments-item__author">
                    <span class="comments-item__name">Devon Lane</span>
                    <time class="comments-item__date" datetime="2020-15-06 18:00">July 15, 2020</time>
                </div>
                <div class="comments-item__comment">
                    <p class="comments-item__text">Phasellus varius faucibus ultrices odio&nbsp;in. Massa neque dictum natoque ornare rutrum malesuada et&nbsp;phasellus. Viverra natoque nulla cras vel nisl proin senectus. Tortor sed eleifend ante tristique felis sed urna aliquet. Suspendisse fames egestas sed duis purus diam&nbsp;et.</p>
                    <a href="#" class="comments-item__reply">
                        <svg>
                            <use xlink:href="img/sprite.svg#Reply"></use>
                        </svg>
                        <span>Reply</span>
                    </a>
                </div>
            </article>
            <article class="post-comments__item comments-item">
                <div class="comments-item__author">
                    <span class="comments-item__name">Annette Black</span>
                    <time class="comments-item__date" datetime="2020-15-06 18:00">1 day ago</time>
                </div>
                <div class="comments-item__comment">
                    <p class="comments-item__text"><a href="#">@Devon Lane</a> Egestas fermentum natoque sollicitudin mauris. Facilisis praesent urna sed rhoncus quis pharetra pellentesque erat sagittis.</p>
                    <a href="#" class="comments-item__reply">
                        <svg>
                            <use xlink:href="img/sprite.svg#Reply"></use>
                        </svg>
                        <span>Reply</span>
                    </a>
                </div>
            </article>
            <article class="post-comments__item comments-item">
                <div class="comments-item__author">
                    <span class="comments-item__name">Albert Flores</span>
                    <time class="comments-item__date" datetime="2020-07-07 18:00">July 7, 2020</time>
                </div>
                <div class="comments-item__comment">
                    <p class="comments-item__text">Libero commodo sit dui ac&nbsp;proin. Penatibus ultricies at&nbsp;adipiscing mauris nunc. Fames faucibus nisl duis id&nbsp;diam.</p>
                    <a href="#" class="comments-item__reply">
                        <svg>
                            <use xlink:href="img/sprite.svg#Reply"></use>
                        </svg>
                        <span>Reply</span>
                    </a>
                </div>
            </article>
            <article class="post-comments__item comments-item">
                <div class="comments-item__author">
                    <span class="comments-item__name">Marvin McKinney</span>
                    <time class="comments-item__date" datetime="2020-18-06 18:00">June 28, 2020</time>
                </div>
                <div class="comments-item__comment">
                    <p class="comments-item__text">Ullamcorper nibh sed ac&nbsp;ipsum nunc imperdiet rhoncus. Quam donec habitant nibh sit consequat erat libero, tincidunt. Eros ut&nbsp;aliquam proin et&nbsp;duis. Mauris, egestas congue nibh dui a&nbsp;nulla.</p>
                    <a href="#" class="comments-item__reply">
                        <svg>
                            <use xlink:href="img/sprite.svg#Reply"></use>
                        </svg>
                        <span>Reply</span>
                    </a>
                </div>
            </article>
        </div>
    </div>
</section>