<section class="services">
    <div class="container">
        <div class="centered">
            <h2 class="services__title section-title">Our services</h2>
            <p class="services__desc section-desc">Createx Construction Bureau is&nbsp;a&nbsp;construction giant with a&nbsp;full range of&nbsp;construction services.</p>
        </div>
        <div class="services__body">
            <a href="#" class="services__item">
                <div class="services__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Construction"></use>
                    </svg>
                </div>
                <h3 class="services__caption">Construction</h3>
            </a>
            <a href="#" class="services__item">
                <div class="services__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Project-dev"></use>
                    </svg>
                </div>
                <h3 class="services__caption">Project Development</h3>
            </a>
            <a href="interior-services.html" class="services__item">
                <div class="services__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Interior"></use>
                    </svg>
                </div>
                <h3 class="services__caption">Interior Design</h3>
            </a>
            <a href="#" class="services__item">
                <div class="services__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Repairs"></use>
                    </svg>
                </div>
                <h3 class="services__caption">Repairs</h3>
            </a>
        </div>
        <div class="section-footer">
            <h3 class="section__footer-title">Learn more about our services</h3>
            <a href="services-main.html" class="section__footer-btn btn btn--fill">View services</a>
        </div>
    </div>
</section>