<section class="similar-projects">
    <div class="container">
        <div class="similar-projects__top">
            <h2 class="similar-projects__title section-title">Similar projects</h2>
            <div class="similar-projects__switches slider-switches">
                <button class="similar-projects__switch slider-switch related-projects__switch-prev">
                    <svg>
                        <use xlink:href="img/sprite.svg#Arrow-prev"></use>
                    </svg>
                </button>
                <button class="similar-projects__switch slider-switch related-projects__switch-next">
                    <svg>
                        <use xlink:href="img/sprite.svg#Arrow-next"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="swiper  similar-projects__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="similar-projects__slider-item">
                        <a href="#" class="similar-projects__slider-img">
                            <img src="img/work-portfolio/image-2.jpg" alt="">
                        </a>
                        <div class="similar-projects__slider-content">
                            <h3 class="similar-projects__slider-title">Luxury Beach House</h3>
                            <p class="similar-projects__slider-desc">Private Houses</p>
                            <a href="#" class="similar-projects__slider-btn btn btn--primary">View Project</a>
                        </div>
                    </div>
                </div>
              <div class="swiper-slide">
                <div class="similar-projects__slider-item">
                    <a href="#" class="similar-projects__slider-img">
                        <img src="img/work-portfolio/image-4.jpg" alt="">
                    </a>
                    <div class="similar-projects__slider-content">
                        <h3 class="similar-projects__slider-title">Brown and Gray Painted House</h3>
                        <p class="similar-projects__slider-desc">Private Houses</p>
                        <a href="#" class="similar-projects__slider-btn btn btn--primary">View Project</a>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="similar-projects__slider-item">
                    <a href="#" class="similar-projects__slider-img">
                        <img src="img/related-projects/image-3.jpg" alt="">
                    </a>
                    <div class="similar-projects__slider-content">
                        <h3 class="similar-projects__slider-title">Scandinavian Style Interior</h3>
                        <p class="similar-projects__slider-desc">Private houses</p>
                        <a href="#" class="related-projects__slider-btn btn btn--primary">View Project</a>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="section-footer">
            <h3 class="section__footer-title">Explore all our works</h3>
            <a href="../work-main.html" class="section__footer-btn btn btn--fill">View portfolio</a>
        </div>
    </div>
</section>