<section class="team">
    <img src="img/team/bg-image.png" alt="" class="team__bg-img">
    <div class="container">
        <div class="centered">
            <h2 class="pricing__title section-title">Our team</h2>
            <p class="pricing__desc section-desc">People are at the heart of Createx Construction Bureau</p>
        </div>
        <div class="team__body">
            <div class="team__item">
                <div class="team__photo">
                    <img src="img/team/image-1.jpg" alt="">
                    <div class="team__social social">
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Linked-In"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Twitter-2"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Facebook-2"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__info">
                    <div class="team__name">Courtney Alexander</div>
                    <div class="team__post">CEO, Co-Founder</div>
                </div>
            </div>
            <div class="team__item">
                <div class="team__photo">
                    <img src="img/team/image-2.jpg" alt="">
                    <div class="team__social social">
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Linked-In"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Twitter-2"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Facebook-2"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__info">
                    <div class="team__name">Calvin Fox</div>
                    <div class="team__post">CTO, Co-Founder</div>
                </div>
            </div>
            <div class="team__item">
                <div class="team__photo">
                    <img src="img/team/image-3.jpg" alt="">
                    <div class="team__social social">
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Linked-In"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Twitter-2"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Facebook-2"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__info">
                    <div class="team__name">Johnny Lane</div>
                    <div class="team__post">Commercial Manager</div>
                </div>
            </div>
            <div class="team__item">
                <div class="team__photo">
                    <img src="img/team/image-4.jpg" alt="">
                    <div class="team__social social">
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Linked-In"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Twitter-2"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Facebook-2"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__info">
                    <div class="team__name">Diane Mccoy</div>
                    <div class="team__post">Director of Human Resources</div>
                </div>
            </div>
            <div class="team__item">
                <div class="team__photo">
                    <img src="img/team/image-5.jpg" alt="">
                    <div class="team__social social">
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Linked-In"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Twitter-2"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Facebook-2"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__info">
                    <div class="team__name">Judith Warren</div>
                    <div class="team__post">Lead Accountant</div>
                </div>
            </div>
            <div class="team__item">
                <div class="team__photo">
                    <img src="img/team/image-6.jpg" alt="">
                    <div class="team__social social">
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Linked-In"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Twitter-2"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Facebook-2"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__info">
                    <div class="team__name">Floyd Simmmons</div>
                    <div class="team__post">Finacial Director</div>
                </div>
            </div>
            <div class="team__item">
                <div class="team__photo">
                    <img src="img/team/image-7.jpg" alt="">
                    <div class="team__social social">
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Linked-In"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Twitter-2"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Facebook-2"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__info">
                    <div class="team__name">Serenity Edwards</div>
                    <div class="team__post">Director of Marketing</div>
                </div>
            </div>
            <div class="team__item">
                <div class="team__photo">
                    <img src="img/team/image-8.jpg" alt="">
                    <div class="team__social social">
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Linked-In"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Twitter-2"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#Facebook-2"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__info">
                    <div class="team__name">Shawn Edwards</div>
                    <div class="team__post">Tech Lead</div>
                </div>
            </div>
        </div>
        <div class="centered">
            <div class="team__text">Become a part of the best team in the construction market of the USA. <a href="positions.html">Available Positions</a></div>
        </div>
    </div>
</section>