<section class="work-portfolio">
    <div class="container">
        <div class="work-portfolio__tabs work-tabs">
            <a href="#" class="work-tabs__item work-tabs__item--active" data-path="all">
                <div class="work-tabs__item-icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#All"></use>
                    </svg>
                    <span class="work-tabs__item-title">All Projects</span>
                </div>
            </a>
            <a href="#" class="work-tabs__item" data-path="constr">
                <div class="work-tabs__item-icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Construction"></use>
                    </svg>
                    <span class="work-tabs__item-title">Construction</span>
                </div>
            </a>
            <a href="#" class="work-tabs__item" data-path="dev">
                <div class="work-tabs__item-icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Project-dev"></use>
                    </svg>
                    <span class="work-tabs__item-title">Project Development</span>
                </div>
            </a>
            <a href="#" class="work-tabs__item" data-path="design">
                <div class="work-tabs__item-icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Interior-tab"></use>
                    </svg>
                    <span class="work-tabs__item-title">Interior Design</span>
                </div>
            </a>
            <a href="#" class="work-tabs__item" data-path="repairs">
                <div class="work-tabs__item-icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Repairs"></use>
                    </svg>
                    <span class="work-tabs__item-title">Repairs</span>
                </div>
            </a>
        </div>
        <ul class="work-portfolio__body">
            <li class="work-portfolio__item work-portfolio__item--visible">
                <a href="#" class="work-portfolio__project" data-target="design">
                    <img class="work-portfolio__img" src="img/portfolio/image-2.jpg" alt="">
                    <div class="work-portfolio__content">
                        <h3 class="work-portfolio__title">Cubes Building</h3>
                        <p class="work-portfolio__desc">Business Centers</p>
                        <a href="#" class="work-portfolio__btn btn btn--primary">View Project</a>
                    </div>
                </a>
            </li>
            <li class="work-portfolio__item work-portfolio__item--visible">
                <a href="#" class="work-portfolio__project" data-target="dev">
                    <img class="work-portfolio__img" src="img/work-portfolio/image-1.jpg" alt="">
                    <div class="work-portfolio__content">
                        <h3 class="work-portfolio__title">Modern Cottage</h3>
                        <p class="work-portfolio__desc">Private houses</p>
                        <a href="modern-cottage.html" class="work-portfolio__btn btn btn--primary">View Project</a>
                    </div>
                </a>
            </li>
            <li class="work-portfolio__item work-portfolio__item--visible">
                <a href="#" class="work-portfolio__project" data-target="repairs">
                    <img class="work-portfolio__img" src="img/work-portfolio/image-2.jpg" alt="">
                    <div class="work-portfolio__content">
                        <h3 class="work-portfolio__title">Luxury Beach House</h3>
                        <p class="work-portfolio__desc">Private houses</p>
                        <a href="#" class="work-portfolio__btn btn btn--primary">View Project</a>
                    </div>
                </a>
            </li>
            <li class="work-portfolio__item work-portfolio__item--visible">
                <a href="#" class="work-portfolio__project" data-target="constr">
                    <img class="work-portfolio__img" src="img/related-projects/image-2.jpg" alt="">
                    <div class="work-portfolio__content">
                        <h3 class="work-portfolio__title">Modern Double Bedroom</h3>
                        <p class="work-portfolio__desc">Apartments & flats</p>
                        <a href="#" class="work-portfolio__btn btn btn--primary">View Project</a>
                    </div>
                </a>
            </li>
            <li class="work-portfolio__item work-portfolio__item--visible">
                <a href="#" class="work-portfolio__project" data-target="design">
                    <img class="work-portfolio__img" src="img/related-projects/image-1.jpg" alt="">
                    <div class="work-portfolio__content">
                        <h3 class="work-portfolio__title">Kids Bedroom With Decorations</h3>
                        <p class="work-portfolio__desc">Apartments & flats</p>
                        <a href="#" class="work-portfolio__btn btn btn--primary">View Project</a>
                    </div>
                </a>
            </li>
            <li class="work-portfolio__item work-portfolio__item--visible">
                <a href="#" class="work-portfolio__project" data-target="dev">
                    <img class="work-portfolio__img" src="img/portfolio/image-3.jpg" alt="">
                    <div class="work-portfolio__content">
                        <h3 class="work-portfolio__title">The Pencil Building</h3>
                        <p class="work-portfolio__desc">Stores & Malls</p>
                        <a href="#" class="work-portfolio__btn btn btn--primary">View Project</a>
                    </div>
                </a>
            </li>
            <li class="work-portfolio__item work-portfolio__item--visible">
                <a href="#" class="work-portfolio__project" data-target="repairs">
                    <img class="work-portfolio__img" src="img/portfolio/image-1.jpg" alt="">
                    <div class="work-portfolio__content">
                        <h3 class="work-portfolio__title">Red Finger Building</h3>
                        <p class="work-portfolio__desc">Business Centers</p>
                        <a href="#" class="work-portfolio__btn btn btn--primary">View Project</a>
                    </div>
                </a>
            </li>
            <li class="work-portfolio__item work-portfolio__item--visible">
                <a href="#" class="work-portfolio__project" data-target="constr">
                    <img class="work-portfolio__img" src="img/work-portfolio/image-3.jpg" alt="">
                    <div class="work-portfolio__content">
                        <h3 class="work-portfolio__title">Scandinavian Style Interior</h3>
                        <p class="work-portfolio__desc">Private houses</p>
                        <a href="#" class="work-portfolio__btn btn btn--primary">View Project</a>
                    </div>
                </a>
            </li>
            <li class="work-portfolio__item work-portfolio__item--visible">
                <a href="#" class="work-portfolio__project" data-target="dev">
                    <img class="work-portfolio__img" src="img/work-portfolio/image-4.jpg" alt="">
                    <div class="work-portfolio__content">
                        <h3 class="work-portfolio__title">Brown and Gray Painted House</h3>
                        <p class="work-portfolio__desc">Private houses</p>
                        <a href="#" class="work-portfolio__btn btn btn--primary">View Project</a>
                    </div>
                </a>
            </li>
            <li class="work-portfolio__item work-portfolio__item--visible">
                <a href="#" class="work-portfolio__project" data-target="dev">
                    <img class="work-portfolio__img" src="img/portfolio/image-2.jpg" alt="">
                    <div class="work-portfolio__content">
                        <h3 class="work-portfolio__title">Cubes Building</h3>
                        <p class="work-portfolio__desc">Business Centers</p>
                        <a href="#" class="work-portfolio__btn btn btn--primary">View Project</a>
                    </div>
                </a>
            </li>
        </ul>
        <div class="centered">
            <button class="work-portfolio__more">
                <svg>
                    <use xlink:href="img/sprite.svg#Load-more"></use>
                </svg>
                Load more
            </button>
        </div>
    </div>
</section>