*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer; background-color: transparent;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*=================================================*/


body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;

  &.lock {
    overflow: hidden;
  }
}


.centered {
  text-align: center;
}


.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 15px 39px;
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 14px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;

  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 3px;
  }

  &--stroke {
    border: 1px solid var(--color-white);

    &:hover {
      border-color: transparent;
      background-color: var(--color-primary);
    }

    &:active {
      background-color: var(--color-hover);
    }
  }

  &--fill {
    background-color: var(--color-primary);

    &:hover {
      background-color: var(--color-hover);
    }
  }

  &--primary {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    line-height: 44px;
    padding: 0 30px;
    font-size: 14px;

    &:hover {
      border-color: transparent;
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
}

.section-title {
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--color-ebony);

  @include minitablet {
    font-size: 35px;
  }

  @include mobile {
    font-size: 26px;
  }
}

.section-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-storm);

  @include minitablet {
    font-size: 13px;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: var(--color-ebony);
}

.section-footer {
  @include flex-all-center;

  @include minidesk {
    display: block;
    text-align: center;
  }
}

.section__footer-title {
  font-size: 28px;
  margin-right: 41px;
  font-weight: 700;

  @include minidesk {
    margin-bottom: 25px;
    margin-right: 0;
  }

  @include mobile {
    font-size: 22px;
  }
}

.section__footer-btn {
  line-height: 52px;
  padding: 0 40px;

  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 3px;
  }

  @include mobile {
    padding: 0px 20px;
    line-height: 45px;
    font-size: 12px;
  }
}

.slider-switch {
  width: 48px;
  height: 48px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;

  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 3px;
  }

  &:hover {
    background-color: var(--color-primary);

    svg {
      fill: var(--color-white);
    }
  }

  svg {
    width: 18px;
    height: 11px;
    fill: var(--color-ebony);
    transition: all 0.3s ease-in-out;
  }
}

.custom-checkbox {
  &__input {
    position: absolute;
    opacity: 0;
  }

  &__text {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    position: relative;
    padding-left: 27px;
    color: var(--color-gray);
  }

  &__text::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -1px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid var(--color-primary);
    transition: all 0.3s ease-in-out;
  }

  &__text::after {
    content: "";
    position: absolute;
    left: -1px;
    top: 2px;
    width: 16px;
    height: 16px;
    background: url("../img/svg/check-contacts.svg") center / cover no-repeat;
    background-size: 10px 8px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  &__input:checked+&__text::before {
    background-color: var(--color-primary);
  }

  &__input:checked+&__text::after {
    opacity: 1;
  }

  &__input:focus+&__text {
    outline: 3px solid var(--color-primary);
  } 

  
}

.custom-radio {
  display: flex;
  align-items: center;
  
  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &__text {
    position: relative;
    display: inline-block;
    padding-left: 27px;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
    z-index: -1;
  }

  &__text::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 4px;
    display: inline-block;
    border: 1px solid #b3b7bc;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    z-index: 10;
    transition: border-color 0.3s ease-in-out;
  }

  &__text::after {
    content: "";
    position: absolute;
    left: -1px;
    top: 4px;
    width: 16px;
    height: 16px;
    z-index: 10;
    background-image: url("../img/svg/Check-circle.svg");
    background-position: center;
    background-size: 8px 8px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__input:checked + &__text::before {
    border-color: var(--color-primary);
  }

  &__input:checked + &__text::after {
    opacity: 1;
  }

  &__input:focus+&__text {
    outline: 3px solid var(--color-primary);
  }
}

.custom-file {
  cursor: pointer;

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__text {
    position: relative;
    display: inline-block;
    padding-left: 36px;
    font-size: 14px;
    line-height: 170%;
    color: var(--color-gray);
    background-image: url("../img/svg/Attach.svg");
    background-position: left center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
  }
}

.page-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  color: var(--color-ebony);
  letter-spacing: 1px;
  text-transform: uppercase;

  @include mobile {
    font-size: 45px;
  }
}

.page-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-storm);
  max-width: 600px;

  @include mobile {
    font-size: 15px;
  }
}

.to-top {
  position: fixed;
  right: calc((100% - 1230px) / 2);
  bottom: 80px;
  z-index: 100;
  display: flex;
  align-items: flex-end;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;

  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  @include middledesk {
    right: 20px;
    bottom: 20px;
  }

  &--active {
    visibility: visible;
    opacity: 1;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-white);
    margin-right: 16px;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-primary);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--color-hover);
    }

    svg {
      width: 24px;
      height: 24px;
      fill: var(--color-white);
      object-fit: cover;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(#1E212C, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

